################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/61030035/Lab8/.vs/Lab8/v16/Server/sqlite3/db.lock
